@import "tailwindcss";

:root {
  --primary: #f9c265;
  --secondary: #fef4e6;
}

.bg-primary {
  background-color: var(--primary);
}
.bg-secondary {
  background-color: var(--secondary);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

@font-face {
  font-family: munika;
  src: url(../src/assets/font/munika-semibold.otf);
}

@theme {
  --font-munika: munika;
}
